:root{
  --primary-color: #050708;
  --secondary-color: #ec2028;
  --main-color: #b8860b;

  --h1-font: 6rem;
  --h1-font-thin: 4.4rem;
  --h2-font: 3rem;
  --p-font: 1rem;
  --p-font-bold: 1.4rem;
}

/* header section css */
header.no-banner {
  padding-top: 0;
}
header {
  background: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-top: 4%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.header-sticky {
  background: inherit;
}
header .container__fluid.flex {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pos-rel {
  position: relative;
}

header .left-area, header .right-area {
  width: 250px;
}
header .right-area .cart-btn, header .right-area button {
  color: #222;
  font-size: 1.05em;
  font-weight: 600;
}
.search-input {
  position: relative;
}
.search-input input {
  font-size: 1.05rem;
  opacity: 0.50;
  box-shadow: none;
  background: #a9caec !important;
}
.grow {
  flex-grow: 1;
}
.gap__5 {
  gap: 5px !;
}
.dropdown-menu{
  border: none !important;
  box-shadow: 1px 2px 10px rgba(0,0,0,.1);
  border-radius: 10px;
}
a, button {
  color: inherit;
  display: inline-block;
  transition: all .1s ease-in-out;
}
.search-input input {
  font-size: 1.05rem;
  opacity: 0.50;
  box-shadow: none;
  background: #a9caec;
}
.search-input input {
  background: #d3d3d3;
  border: none;

  padding: 0 60px 0 15px;
  width: 100%;
}
button, input:not([type=checkbox]), textarea {
  border: none !important;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
header button, header input {
  height: 44px!important;
}

input {
  transition: all .15s;
}
button, h1, h2, h3, h4, h5, h6, input, li, p, span, ul {
  box-sizing: border-box;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  white-space: inherit;
}

.search-input>button {
  background: var(--primary-color);
  border: none;
  border-radius: 0 10px 10px 0;
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
.search-input>button {
  font-size: 1.2rem;
  width: 110px;
}
.search-input>button:hover {
  background: var(--secondary-color);
}
.dropdown-toggle::after {
  display: none !important;
}
header button, header input {
  height: 44px!important;
}
.right {
  justify-content: flex-end;
}

header .bottom-area {
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid rgba(0,0,0,.07);
  color: #222;
  font-size: 1.05em;
}
/* header .bottom-area>div>.flex {
  margin: 0 -10px;
} */
.sided {
  justify-content: space-between !important;
}
header .bottom-area>div a {
  font-size: .95em;
}
header .bottom-area>div a:hover {
  background: rgba(0,0,0,.06);
}
header .bottom-area>div a span {
  font-size: .9rem;
  font-weight: 700;
  padding: 12.5px 10px;
}

/* footer css */

/* .footer__wrapper{
  
 } */

 .footer__logo{
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-top: 20px;
  padding: 15px 0;
 }
  .logo img {
  max-height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
 .footer__logo a img,.payment__method img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .payment__method{
  margin: 10px auto;
  /* padding: 10px 10px 10px; */
 }

.footer__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer__link {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
}
.footer__link{
  padding: 5px 0;
  transition: all .50s ease;
}
.footer__link:hover{
  cursor: pointer;
  text-decoration: underline;
}
.copyright__area{
  margin-top: 40px;
}
.copyright__text{
  padding-bottom: 15px;
}

/* hero section css */
.main {
  padding-top: 111px;
  /* background: #e5e4e2; */
  min-height: 600px;
}
/* .main__slide{
  height: 450px;
} */
.hero__section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.image__radius {
  border-radius: 10px;
}

/* card component css */
.bg__black{
  background: #050708 !important;
  color: #fff !important;
}
.bg__white{
  background: #ffffff !important;
  color: #000 !important;
}
.border__white{
  border-bottom: 1px solid #fff !important;
}
.card__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}

a.card__link {
  background: linear-gradient(180deg,#f7f8fa,#e7e9ec);
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  height: auto;
  line-height: 1.6;
  padding: 0 14px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #333;
  display: inline-block;
  font-weight: 600;
  font-size: 17px;
  color: #000;
}

/* product card css */
.productcard__area{
  /* width: calc(16.66% - 14px); */
  /* width: 184px; */
  /* width: 207.167px; */
}
.productcardborder__area{
  width: calc(16.66% - 14px);
  /* width: 184px; */
  /* width: 207.167px; */
}


.slider-container .slick-slide .productcard__area {
  margin: 0 10px; 
}


.card-body {
  padding: 13px !important;
}
.p-tile {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  /* margin-bottom: 15px; */
  position: relative;
  transition: all .1s;
  z-index: 0;
}

.cardWhite{
  background: #fff;
}
.cardBlack{
  background: #000;
  color:#fff
}
.page-link {
  padding: 2px 2px 0;
  position: relative;
}
.p-tile {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  /* margin-bottom: 15px; */
  position: relative;
  transition: all .1s;
  z-index: 0;
}
.p-tile .img-wrapper>.compare-btn {
  opacity: 0;
  right: -6px;
  transform: translateX(20px);
  transition: all .2s ease;
}
.p-tile .img-wrapper:hover .compare-btn {
  opacity: 1;
  right: 29px;

}
.p-tile .img-wrapper .badge, .p-tile .img-wrapper>.compare-btn {
  position: absolute;
  top: 7px;
  z-index: 1;
}
.compare-btn {
  align-items: center;
  background: #eee;
  border-radius: 7px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  color: #4d4c4c;
}

svg.icon.reload-icon {
  height: 19px;
  margin: 2px 5px;
  min-width: 32px;
  opacity: .6;
  width: 30px;
  background: #eee;
  border-radius: 4px;
  color: #151515;
  padding: 3px;
}
.reload-icon {
  background-position: 66% 12.5%;
}
.p-tile>.page-link {
  display: block;
}
.p-tile .img-wrapper {
  margin: 5px 0 !important;
  position: relative;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}

.block {
  display: block;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.ellipsis-2 {
  -webkit-line-clamp: 2;
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
}
.product__title {
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 5px;
}
.rating-stars {
  color: #ffa41c;
  font-size: 1.2em;
  position: relative;
}

.review{
  margin-left: 5px!important;
  font-weight: 600;
  color: #555;
  font-size: 1em;
}
.price-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  white-space: break-spaces;
}

.p-tile .discount, .price-wrapper {
  word-break: break-all;
}

.price__discount, .topselling_price__discount {
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 5px;
  justify-content: center;
}
/* .rating {
  color: #ffa41c;
} */
.review {
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  color: #555;
}
.priv__price {
  text-decoration: line-through;
  color: #aca3a3;
  font-size: 14px;
}
.current__price {
  font-size: 15px;
  font-weight: 800;
  color: #333;
}
.discount__rate {
  background: #e5e4e2;
  border-radius: 4px;
  color: #333;
  font-size: .65em;
  font-weight: 600;
  padding: 1px 4px;
}
/* trendingproduct css */
.cardBlack .product__title {
  color: #fff;
}
.cardBlack .review {
  color: #fff;
}
.cardBlack .current__price {
  color: #fff;
}

/* top salling product */

.topselling__product > a {
  background: transparent;
  border-radius: 0;
  margin: 0 7.5px 15px;
  padding: 0;
}

.topselling__product .item {
  /* background: #fafafb; */
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: calc(33.33% - 15px);
}

.page-link {
  padding: 2px 2px 0;
  position: relative;
}
.topselling__product >a .item-inner {
  border: 0;
  border-bottom: 1px solid #eee;
}

.topselling__product .item .item-inner {
  /* border: 1px solid #eee; */
  display: flex;
  flex-grow: 1;
}
.topselling__product .item .item-inner .img-container {
  background: #fff;
  height: 70px;
  min-width: 70px;
  width: 70px;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}
.topselling__product .item .item-inner .img-container img {
  padding: 5px 0;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.topselling__product .item .item-inner .title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  text-align: left;
}
.topsell__title {
  font-size: 14px;
  font-weight: 400;
}

.topsalling__price {
  font-size: 18px;
}
.price-section button{
  height: 0px;
}
.strike-through:after {
  background: #777;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.strike-through {
  color: #666;
  font-size: .9em;
  line-height: 0;
  margin-right: 5px;
  padding: 0 2px;
  position: relative;
}

/* feature brands */

.brands-wrapper {
  display: flex;
}
.brands-wrapper .brands-inner {
  max-width: 33.33%;
  min-width: 33.33%;
  padding-right: 7.5px;
}
.single__features {
  width: 130px !important;
  /* width: calc(33.33% - 11px); */
  text-align: center;
  background: #e5e4e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 11px 0px;
}

.brandName {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
}
.feature__body{
  padding: 15px 15px 0 !important;
}
.feature__body .slick-slide {
  margin: 0px 4px  0px 0px;
}
.brands-wrapper .brand-banner {
  display: flex;
  max-width: 66.66%;
  min-width: 66.66%;
  padding-left: 7.5px;
}
.brands-wrapper .brand-banner .banner-wrapper {
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
.brands-wrapper .brand-banner img {
  border-radius: 10px;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}


.banner-wrapper {
  position: relative;
}

.flow-hidden {
  overflow: hidden;
}

.mb-0 {
  margin-bottom: 0!important;
}
.br-primary {
  border-radius: 10px;
}
.section {
  padding: 60px 0 0px;
}
/* brand css */
.category-tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.category-tile-wrapper .category-tile {
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  width: 14.28%;
}

.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}
.category-tile-wrapper .category-tile .img-wrapper img {
  padding: 15px;
}

/* login page css */
.login__area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.user__form {
  background: #fff!important;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.16);
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  width: 460px;
}
.brand__logo {
  margin: 0 0 30px;
}
.userform__title {
  font-size: 19px;
  font-weight: 600;
  /* color: dimgrey; */
  margin: 0 0 15px;
}


.user__form .input-wrap {
  text-align: left;
}
.input-wrap {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input-wrap label {
  display: block;
  font-size: .75em;
  font-weight: 600;
  margin-bottom: 10px;
}
.icon-input {
  position: relative;
}
.icon-input .icon {
  left: 10px;
  opacity: .7;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.email-icon {
  background-position: 44.5% 44.5%;
}
.icon {
  height: 16px;
  min-width: 16px;
  width: 16px;
}
.icon-input input {
  padding-left: 40px!important;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd !important;
  display: block;
  padding: 0 15px;
  width: 100%;
}
input:not([type=checkbox]), textarea {
  border: 1px solid #ddd;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 39px;
  line-height: 39px;
  outline: 0;
}
input {
  transition: all .15s;
  font-size: 14px !important;
  font-weight: 300;
}

.ajax-btn:active, button:active, input:active, input:focus, textarea:active, textarea:focus {
  background: rgba(0,0,0,.02);
  box-shadow: 0 0 3px 2px #ec2028;
  box-shadow: 0 0 3px 2px var(--primary-color);
}

.icon-input.right-icon .icon:last-child {
  cursor: pointer;
  left: auto;
  right: 10px;
}
.ajax-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plr-30 {
  padding-left: 25px!important;
  padding-right: 25px!important;
}

.primary-btn {
  background: #ec2028;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all .2s;
}
.primary-btn:hover {
  background: #2c2c2c
}

.link {
  font-weight: 300;
  font-size: 15px;
  color: #555;
  transition: all .50s ease;
}
.link:hover {
 text-decoration: underline;
}
.create__account {
  font-size: 15px;
  font-weight: 300;
  color: #000;
}
.create__account > a {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0 10px;
  transition: all .50s ease;
}
.create__account > a:hover {
  text-decoration: underline;
}
.or__text {
  text-align: center;
  margin: 15px 0;
  font-weight: 800;
}
.google-btn {
  background: none;
  background: #e8f0fe;
  border-color: #ccc;
  color: #111;
  text-align: center;
  transition: all .1s;
}
.flex-1 {
  flex: 1;
}
.gap-5 {
  gap: 5px;
}
button>.icon, span>.icon {
  height: 20px;
  margin: 2px 5px;
  min-width: 20px;
  opacity: .6;
  width: 20px;
}
.google-icon {
  background-position: 23.5% 12%;
}
.google-btn:hover {
  background: #e8f0fe!important;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  opacity: .9;
}
.mt-30 {
  margin-top: 30px!important;
}

.ptb-15 {
  padding-bottom: 15px!important;
  padding-top: 15px!important;
}

.b-t {
  border-top: 1px solid #ddd;
}

/* about page css */
.about_area {
  margin-top: 90px;
}
.about__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about__desc {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  font-weight: 400;
  margin-bottom: 24px;
}

.sitemap__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.sitemap__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.sitemap__item {
  color: #121;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8;
}

.sitemap {
  margin-bottom: 20px;
}

/* hero carocel css */
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  
}
.carousel-indicators {
 background: rgba(0,0,0,.4) !important;
 padding: 3px !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image:none !important;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  font-size: 20px;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border-radius: 50%;
  /* line-height: 1.1; */
}
.carousel-indicators {
  margin-right: 30% !important;
  margin-left: 30% !important;
  border-radius: 16px !important;
}
.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
  height: 100%;
}

/* carosel css */
.slick-prev, .slick-next {
  width: 35px !important;
  height: 35px !important;
  padding: 7px !important;
  transition: all .50s ease;
}
.slick-next {
  right: 13px !important;
  color: #f2ebeb !important;
  background:  rgba(0,0,0,.3)!important;
  border-radius: 50%;
}
.slick-prev {
  left: 0px !important;
  z-index: 9;
  color: #f2ebeb !important;
  background:  rgba(0,0,0,.3)!important;
  border-radius: 50%;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: rgba(0,0,0,.6)!important;
}
/* double line css */

.double_line .slick-prev, .double_line .slick-next {
  top: -9% !important;
}
.double_line .slick-prev {
  left: 188px !important;
  z-index: 9;
  color: #b0a8a8 !important;
  background: #E5E4E2!important;
  border-radius: 50%;
}
.double_line .slick-next {
  right: 149px !important;
  color: #b0a8a8 !important;
  background: #E5E4E2!important;
  border-radius: 50%;
}
.double_line .slick-prev, .double_line .slick-next {
  width: 33px !important;
  height: 33px !important;
  padding: 7px !important;
  transition: all .50s ease;
}
.double_line .slick-prev:hover, .double_line .slick-prev:focus, .double_line .slick-next:hover, .double_line .slick-next:focus {
  background: rgb(0 0 0 / 27%) !important;
  color: #686868 !important;
}
.contact__title {
  font-size: 40px;
  font-weight: 600;
  color: red;
  line-height: 1.4;
}
p.contact__sub {
  margin: 10px 0 30px;
  font-size: 18px;
  font-weight: 400;
  color: #121;
}
.contact_area>.flex {
  align-items: flex-start;
  gap: 10px;
}

.contact_area .contact-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 0 15px;
  padding: 25px;
}
form>.flex:not(button):not(form .no-space) {
  margin: 0 -7.5px;
}
form>.flex:not(button .input-wrap):not(form .no-space) .input-wrap {
  flex: 1;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.input-wrap {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input-wrap label {
  display: block;
  font-size: .85em;
  font-weight: 600;
  margin-bottom: 10px;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
input {
  transition: all .15s;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
textarea {
  line-height: 1.6;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 14px 15px;
  vertical-align: top;
}

.m-0 {
  margin: 0!important;
}
.j-end {
  justify-content: flex-end!important;
}
.contact_area .contact-form .primary-btn {
  width: 50%;
}
.contact_area .contact-info {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 0 15px;
  max-width: 400px;
  padding: 25px 25px 0;
  width: 100%;
}
.contact_area .contact-info>.flex>span {
  align-items: center;
  background: #e5e4e2;
  border-radius: 100px;
  display: flex;
  height: 50px;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}


.contact_area .contact-info>.flex>span .icon {
  height: 45%;
  margin: 0;
  width: 45%;
}
button>.icon, span>.icon {
  height: 20px;
  margin: 2px 5px;
  min-width: 20px;
  opacity: .6;
  width: 20px;
}
.phone-icon {
  background-position: 66% 34%;
}
.contact_area .contact-info>.flex {
  align-items: flex-start;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.contactinfo_title {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 10px;
}

/* trac order css */
.track-container {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.track-container .form-wrapper {
  flex-grow: 1;
}
.track-container .track-form {
  box-shadow: none;
  margin: 30px 0;
  max-width: 450px;
  text-align: left;
}
.user-form {
  background: #fff!important;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.16);
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  text-align: center;
}
.track__form__title {
  font-size: 17px;
  line-height: 1.4;
  margin: 0 0 30px;
}
.input-wrap {
  margin-bottom: 20px;
}
.user-form .input-wrap {
  text-align: left;
}
.input-wrap label {
  display: block;
  font-size: .85em;
  font-weight: 600;
  margin-bottom: 10px;
}
.icon-input {
  position: relative;
}
.icon-input .icon {
  left: 10px;
  opacity: .6;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.order-icon {
  background-position: 77% 23%;
}
.icon-input input {
  padding-left: 40px!important;
}

.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
.trac__bottom {
  margin: 0 0 30px;
  font-size: .95em;
  letter-spacing: 1px;
  line-height: 1.5;
}
.right {
  justify-content: flex-end !important;
}
.track-container .img-wrap {
  max-width: 400px;
}


/* order css */

.order-wrapper {
  display: flex;
}
.order-wrapper .left-sidebar {
  font-size: 1.1em;
  min-width: 250px;
}
.order-wrapper .right-area {
  width: calc(100% - 250px);
}
li {
  font-size: 1em;
  line-height: 1.8;
  list-style: none;
}

.order-wrapper .left-sidebar li {
  display: block;
}
.order-wrapper .left-sidebar li a {
  padding: 5px 0;
}
.order-wrapper .left-sidebar .active {
  color: #ec2028;
  color: var(--primary-color);
  font-weight: 600;
}
.start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ck-button {
  margin: 0 10px 10px 0;
}

label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ck-button label input {
  position: absolute;
  top: -20px;
}
.ck-button label span {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  padding: 7.5px 20px;
}
.ck-button label span:hover {
  background: #ddd;
}
.ck-button input:checked+span {
  background-color: #eefaf4;
  color: #356842;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.order__card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}
.b-b {
  border-bottom: 1px solid #ddd;
}
.link-color {
  color: #17a2b8;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-transform: uppercase;
}
.color-lite {
  color: #555;
}

.f-9 {
  font-size: .9em;
}

.w-80x {
  width: 80px;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}

.w-100 {
  width: 100%;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.ptb-10 {
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.mr-15 {
  margin-right: 15px!important;
}

.mr-5 {
  margin-right: 5px!important;
}


/* product page 
product page 
product page 
product page 
product page  */

.detail-menu {
  background: #f1f2f3;
  border-bottom: 1px solid #eee;
  font-size: .9em;
}

.list-heading {
  padding: 5px 0;
}

.sided {
  justify-content: space-between;
}
.custom-dropdown {
  display: inline-block;
  line-height: 0;
  position: relative;
}


.product-list {
  display: flex;
  position: relative;
  width: 100%;
}

.product-list .left-area {
  min-width: 250px;
}

.layer {
  background: rgba(0,0,0,.4);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.product-list .left-area .sticky {
  position: sticky;
  top: 30px;
  z-index: 1;
}

.product-list .left-area .sticky .close-btn-wrapper {
  border-bottom: 1px solid #ddd;
  color: #ec2028;
  color: var(--primary-color);
  display: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 7.5px 25px;
  text-align: right;
}
.product-list .left-area .sticky .sidebar {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-right: 15px;
}

.tree-node {
  cursor: pointer;
  display: block;
}
.tree-node .node-data {
  display: block;
  position: relative;
}

.tree-node .node-data a {
  display: block;
}
.category-wrapper .node-data a {
  padding: 5px 0;
}
.product-list .left-area .sticky .sidebar .sidebar-section {
  margin: 20px 0;
}
.product-list .left-area .sticky .sidebar .sidebar-section .title {
  font-weight: 600;
  margin-bottom: 15px;
}
button:disabled, button[disabled] {
  cursor: no-drop;
  opacity: .6;
}
.price-search {
  flex-wrap: wrap;
  gap: 7.5px;
  justify-content: flex-start;
}

.price-search .input-wrap {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 70px;
}
.input-wrap .input-text {
  display: flex;
}

.price-search .input-wrap .input-text>span, .price-search .input-wrap input {
  padding: 0 7.5px;
}

.input-wrap .input-text>span {
  align-items: center;
  background: #f3f4f6;
  border: 1px solid #ddd;
  border-radius: 10px 0 0 10px!important;
  display: flex;
  font-size: .9em;
  padding: 0 10px;
}
.price-search .input-wrap .input-text>span, .price-search .input-wrap input {
  padding: 0 7.5px;
}
.input-wrap .input-text>input {
  border-left: none!important;
  border-radius: 0 10px 10px 0!important;
}


.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
.price-search .outline-btn {
  margin-bottom: 5px;
}

.product-list .left-area .sticky .sidebar .sidebar-section .title {
  font-weight: 600;
  margin-bottom: 15px;
}
.product-list .left-area .sticky .sidebar .star-filter>button {
  display: block;
  height: auto;
  line-height: 1.4;
}

button:disabled, button[disabled] {
  cursor: no-drop;
  opacity: .6;
}
.product-list .left-area .sticky .sidebar .star-filter>button {
  display: block;
  height: auto;
  line-height: 1.4;
}
.product-list .left-area .sticky .sidebar .star-filter>button .rating-stars {
  font-size: 1.3em;
  line-height: 1!important;
}
.rating-stars {
  color: #ffa41c;
  font-size: 1.2em;
  position: relative;
}
.product-list .left-area .sticky .sidebar .star-filter>button .rating-stars span {
  line-height: 1;
}

.rating-stars .rating {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.link {
  font-weight: 300;
  font-size: 15px;
  color: #555;
  transition: all .50s ease;
}
.product-list .main-content {
  padding-left: 15px;
  flex-grow: 1;
}

.product-list .main-content>.pos-rel {
  min-height: 500px;
}
.tile-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.productcardnoborder__area {
  /* width: 16.66% ; */
  /* width: 184px; */
  /* width: 207.167px; */
}

.singleproduct__area{
  min-width: 20%;
  width: 20%;    
  margin-bottom: 15px;
  padding: 0 10px;
}