:root{
  --primary-color: #050708;
  --secondary-color: #ec2028;
  --main-color: #b8860b;

  --h1-font: 6rem;
  --h1-font-thin: 4.4rem;
  --h2-font: 3rem;
  --p-font: 1rem;
  --p-font-bold: 1.4rem;
}


header.no-banner {
  padding-top: 0;
}
header {
  background: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-top: 4%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}
.header-sticky {
  background: inherit;
}
header .container__fluid.flex {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pos-rel {
  position: relative;
}

 /* header .right-area {
  width: 250px;
} */
header .right-area .cart-btn, header .right-area button {
  color: #222;
  font-size: 1.05em;
  font-weight: 600;
}
.search-input {
  position: relative;
}
.search-input input {
  font-size: 1.05rem;
  opacity: 0.50;
  box-shadow: none;
  background: #a9caec !important;
}
.grow {
  flex-grow: 1;
}
.gap__5 {
  gap: 5px !;
}
.dropdown-menu{
  border: none !important;
  box-shadow: 1px 2px 10px rgba(0,0,0,.1);
  border-radius: 10px;
}
a, button {
  color: inherit;
  display: inline-block;
  transition: all .1s ease-in-out;
}
.search-input input {
  font-size: 1.05rem;
  opacity: 0.50;
  box-shadow: none;
  background: #a9caec;
}
.search-input input {
  background: #d3d3d3;
  border: none;

  padding: 0 60px 0 15px;
  width: 100%;
}
button, input:not([type=checkbox]), textarea {
  border: none !important;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
header button, header input {
  height: 44px!important;
}

input {
  transition: all .15s;
}
button, h1, h2, h3, h4, h5, h6, input, li, p, span, ul {
  box-sizing: border-box;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  white-space: inherit;
}

.search-input>button {
  background: var(--primary-color);
  border: none;
  border-radius: 0 10px 10px 0;
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
.search-input>button {
  font-size: 1rem;
  width: 110px;
}
.search-input>button:hover {
  background: var(--secondary-color);
}
.dropdown-toggle::after {
  display: none !important;
}
header button, header input {
  height: 44px!important;
}
.right {
  justify-content: flex-end;
}

header .bottom-area {
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid rgba(0,0,0,.07);
  color: #222;
  font-size: 1.05em;
}

.sided {
  justify-content: space-between !important;
}
header .bottom-area>div a {
  font-size: .95em;
}
header .bottom-area>div a:hover {
  background: rgba(0,0,0,.06);
}
header .bottom-area>div a span {
  font-size: .9rem;
  font-weight: 700;
  padding: 12.5px 10px;
}


 .footer__logo{
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-top: 20px;
  padding: 15px 0;
 }
  .logo img {
  max-height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
 .footer__logo a img,.payment__method img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .payment__method{
  margin: 10px auto;

 }

.footer__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer__link {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
}
.footer__link{
  padding: 5px 0;
  transition: all .50s ease;
}
.footer__link:hover{
  cursor: pointer;
  text-decoration: underline;
}
.copyright__area{
  margin-top: 40px;
}
.copyright__text{
  padding-bottom: 15px;
}


.main {
  padding-top: 111px;
  min-height: 600px;
}

.hero__section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.image__radius {
  border-radius: 10px;
}




.bg__black{
  background: #050708 !important;
  color: #fff !important;
}
.bg__white{
  background: #ffffff !important;
  color: #000 !important;
}
.border__white{
  border-bottom: 1px solid #fff !important;
}
.card__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}

a.card__link {
  background: linear-gradient(180deg,#f7f8fa,#e7e9ec);
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  height: auto;
  line-height: 1.6;
  padding: 0 14px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #333;
  display: inline-block;
  font-weight: 600;
  font-size: 17px;
  color: #000;
}


.productcard__area{

}
.productcardborder__area{
  width: calc(16.66% - 14px);

}


.slider-container .slick-slide .productcard__area {
  margin: 0 10px; 
}


.card-body {
  padding: 13px !important;
}
.p-tile {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
  transition: all .1s;
  z-index: 0;
}

.cardWhite{
  background: #fff;
}
.cardBlack{
  background: #000;
  color:#fff
}
.page-link {
  padding: 2px 2px 0;
  position: relative;
}
.p-tile {
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
  transition: all .1s;
  z-index: 0;
}
.p-tile .img-wrapper>.compare-btn {
  opacity: 0;
  right: -6px;
  transform: translateX(20px);
  transition: all .2s ease;
}
.p-tile .img-wrapper:hover .compare-btn {
  opacity: 1;
  right: 29px;

}
.p-tile .img-wrapper .badge, .p-tile .img-wrapper>.compare-btn {
  position: absolute;
  top: 7px;
  z-index: 1;
}
.compare-btn {
  align-items: center;
  background: #eee;
  border-radius: 7px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  color: #4d4c4c;
}

svg.icon.reload-icon {
  height: 19px;
  margin: 2px 5px;
  min-width: 32px;
  opacity: .6;
  width: 30px;
  background: #eee;
  border-radius: 4px;
  color: #151515;
  padding: 3px;
}
.reload-icon {
  background-position: 66% 12.5%;
}
.p-tile>.page-link {
  display: block;
}
.p-tile .img-wrapper {
  margin: 5px 0 !important;
  position: relative;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}

.block {
  display: block;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.ellipsis-2 {
  -webkit-line-clamp: 2;
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
}
.product__title {
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 0 5px;
}
.rating-stars {
  color: #ffa41c;
  font-size: 1.2em;
  position: relative;
}

.review{
  margin-left: 5px!important;
  font-weight: 600;
  color: #555;
  font-size: 1em;
}
.price-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  white-space: break-spaces;
}

.p-tile .discount, .price-wrapper {
  word-break: break-all;
}

.price__discount, .topselling_price__discount {
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 5px;
  justify-content: center;
}

.review {
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  color: #555;
}
.priv__price {
  text-decoration: line-through;
  color: #aca3a3;
  font-size: 14px;
}
.current__price {
  font-size: 15px;
  font-weight: 800;
  color: #333;
}
.discount__rate {
  background: #e5e4e2;
  border-radius: 4px;
  color: #333;
  font-size: .65em;
  font-weight: 600;
  padding: 1px 4px;
}

.cardBlack .product__title {
  color: #fff;
}
.cardBlack .review {
  color: #fff;
}
.cardBlack .current__price {
  color: #fff;
}



.topselling__product > a {
  background: transparent;
  border-radius: 0;
  margin: 0 7.5px 15px;
  padding: 0;
}

.topselling__product .item {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  width: calc(33.33% - 15px);
}

@media (max-width: 920px) {
  .topselling__product .item {
    width: calc(50% - 15px);
  }
}

@media (max-width: 650px) {
  .topselling__product .item {
    width: 100%;
  }
}

.page-link {
  padding: 2px 2px 0;
  position: relative;
}
.topselling__product >a .item-inner {
  border: 0;
  border-bottom: 1px solid #eee;
}

.topselling__product .item .item-inner {

  display: flex;
  flex-grow: 1;
}
.topselling__product .item .item-inner .img-container {
  background: #fff;
  height: 70px;
  min-width: 70px;
  width: 70px;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}
.topselling__product .item .item-inner .img-container img {
  padding: 5px 0;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.topselling__product .item .item-inner .title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  text-align: left;
}
.topsell__title {
  font-size: 14px;
  font-weight: 400;
}

.topsalling__price {
  font-size: 18px;
}
.price-section button{
  height: 0px;
}
.strike-through:after {
  background: #777;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.strike-through {
  color: #666;
  font-size: .9em;
  line-height: 0;
  margin-right: 5px;
  padding: 0 2px;
  position: relative;
}



.mb-0 {
  margin-bottom: 0!important;
}
.br-primary {
  border-radius: 10px;
}
/* .section {
  padding: 60px 0 0px;
} */

.category-tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.category-tile-wrapper .category-tile {
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  width: 14.28%;
}

.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}
.category-tile-wrapper .category-tile .img-wrapper img {
  padding: 15px;
}


.login__area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.user__form {
  background: #fff!important;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.16);
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  width: 460px;
}
.brand__logo {
  margin: 0 0 30px;
}
.userform__title {
  font-size: 19px;
  font-weight: 600;

  margin: 0 0 15px;
}


.user__form .input-wrap {
  text-align: left;
}
.input-wrap {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input-wrap label {
  display: block;
  font-size: .75em;
  font-weight: 600;
  margin-bottom: 10px;
}
.icon-input {
  position: relative;
}
.icon-input .icon {
  left: 10px;
  opacity: .7;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.email-icon {
  background-position: 44.5% 44.5%;
}
.icon {
  height: 16px;
  min-width: 16px;
  width: 16px;
}
.icon-input input {
  padding-left: 40px!important;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd !important;
  display: block;
  padding: 0 15px;
  width: 100%;
}
input:not([type=checkbox]), textarea {
  border: 1px solid #ddd;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 39px;
  line-height: 39px;
  outline: 0;
}
input {
  transition: all .15s;
  font-size: 14px !important;
  font-weight: 300;
}

.ajax-btn:active, button:active, input:active, input:focus, textarea:active, textarea:focus {
  background: rgba(0,0,0,.02);
  box-shadow: 0 0 3px 2px #ec2028;
  box-shadow: 0 0 3px 2px var(--primary-color);
  
}
button.carousel-control-prev, button.carousel-control-next {
  background: transparent !important;
  box-shadow:none !important;
  box-shadow: none !important;
}

.icon-input.right-icon .icon:last-child {
  cursor: pointer;
  left: auto;
  right: 10px;
}
.ajax-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plr-30 {
  padding-left: 25px!important;
  padding-right: 25px!important;
}

.primary-btn {
  background: #ec2028;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all .2s;
}
.primary-btn:hover {
  background: #2c2c2c
}

.link {
  font-weight: 300;
  font-size: 15px;
  color: #555;
  transition: all .50s ease;
}
.link:hover {
 text-decoration: underline;
}
.create__account {
  font-size: 15px;
  font-weight: 300;
  color: #000;
}
.create__account > a {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0 10px;
  transition: all .50s ease;
}
.create__account > a:hover {
  text-decoration: underline;
}
.or__text {
  text-align: center;
  margin: 15px 0;
  font-weight: 800;
}
.google-btn {
  background: none;
  background: #e8f0fe;
  border-color: #ccc;
  color: #111;
  text-align: center;
  transition: all .1s;
}
.flex-1 {
  flex: 1;
}
.gap-5 {
  gap: 5px;
}
button>.icon, span>.icon {
  height: 20px;
  margin: 2px 5px;
  min-width: 20px;
  opacity: .6;
  width: 20px;
}
.google-icon {
  background-position: 23.5% 12%;
}
.google-btn:hover {
  background: #e8f0fe!important;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  opacity: .9;
}
.mt-30 {
  margin-top: 30px!important;
}
.mt-10 {
  margin-top: 10px!important;
}
.ptb-15 {
  padding-bottom: 15px!important;
  padding-top: 15px!important;
}

.b-t {
  border-top: 1px solid #ddd;
}


.about_area {
  margin-top: 90px;
}
.about__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about__desc {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  font-weight: 400;
  margin-bottom: 24px;
}

.sitemap__title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.sitemap__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.sitemap__item {
  color: #121;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8;
}

.sitemap {
  margin-bottom: 20px;
}


.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  
}
.carousel-indicators {
 background: rgba(0,0,0,.4) !important;
 padding: 3px !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image:none !important;
  color: #fff;
  background-color: rgba(0,0,0,.4);
  font-size: 20px;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border-radius: 50%;

}
.carousel-indicators {
  margin-right: 30% !important;
  margin-left: 30% !important;
  border-radius: 16px !important;
}
.carousel-control-next, .carousel-control-prev {
  width: 5% !important;
  height: 100%;
}


.slick-prev, .slick-next {
  width: 35px !important;
  height: 35px !important;
  padding: 7px !important;
  transition: all .50s ease;
}
.slick-next {
  right: 13px !important;
  color: #f2ebeb !important;
  background:  rgba(0,0,0,.3)!important;
  border-radius: 50%;
}
.slick-prev {
  left: 0px !important;
  z-index: 9;
  color: #f2ebeb !important;
  background:  rgba(0,0,0,.3)!important;
  border-radius: 50%;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: rgba(0,0,0,.6)!important;
}


.double_line .slick-prev, .double_line .slick-next {
  top: -9% !important;
}
.double_line .slick-prev {
  left: 188px !important;
  z-index: 9;
  color: #b0a8a8 !important;
  background: #E5E4E2!important;
  border-radius: 50%;
}
.double_line .slick-next {
  right: 110px !important;
  color: #b0a8a8 !important;
  background: #E5E4E2!important;
  border-radius: 50%;
}
.double_line .slick-prev, .double_line .slick-next {
  width: 33px !important;
  height: 33px !important;
  padding: 7px !important;
  transition: all .50s ease;
}
.double_line .slick-prev:hover, .double_line .slick-prev:focus, .double_line .slick-next:hover, .double_line .slick-next:focus {
  background:  rgba(0, 0, 0, 0.27) !important;
  color: #686868 !important;
}
.contact__title {
  font-size: 40px;
  font-weight: 600;
  color: red;
  line-height: 1.4;
}
p.contact__sub {
  margin: 10px 0 30px;
  font-size: 18px;
  font-weight: 400;
  color: #121;
}
.contact_area>.flex {
  align-items: flex-start;
  gap: 10px;
}

.contact_area .contact-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 0 15px;
  padding: 25px;
}
form>.flex:not(button):not(form .no-space) {
  margin: 0 -7.5px;
}
form>.flex:not(button .input-wrap):not(form .no-space) .input-wrap {
  flex: 1;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.input-wrap {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.input-wrap label {
  display: block;
  font-size: .85em;
  font-weight: 600;
  margin-bottom: 10px;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
input {
  transition: all .15s;
}
.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
textarea {
  line-height: 1.6;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 14px 15px;
  vertical-align: top;
}

.m-0 {
  margin: 0!important;
}
.j-end {
  justify-content: flex-end!important;
}
.contact_area .contact-form .primary-btn {
  width: 50%;
}
.contact_area .contact-info {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 0 15px;
  max-width: 400px;
  padding: 25px 25px 0;
  width: 100%;
}
.contact_area .contact-info>.flex>span {
  align-items: center;
  background: #e5e4e2;
  border-radius: 100px;
  display: flex;
  height: 50px;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
  width: 50px;
}


.contact_area .contact-info>.flex>span .icon {
  height: 45%;
  margin: 0;
  width: 45%;
}
button>.icon, span>.icon {
  height: 20px;
  margin: 2px 5px;
  min-width: 20px;
  opacity: .6;
  width: 20px;
}
.phone-icon {
  background-position: 66% 34%;
}
.contact_area .contact-info>.flex {
  align-items: flex-start;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.contactinfo_title {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 10px;
}


.track-container {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.track-container .form-wrapper {
  flex-grow: 1;
}
.track-container .track-form {
  box-shadow: none;
  margin: 30px 0;
  max-width: 450px;
  text-align: left;
}
.user-form {
  background: #fff!important;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.16);
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  text-align: center;
}
.track__form__title {
  font-size: 17px;
  line-height: 1.4;
  margin: 0 0 30px;
}
.input-wrap {
  margin-bottom: 20px;
}
.user-form .input-wrap {
  text-align: left;
}
.input-wrap label {
  display: block;
  font-size: .85em;
  font-weight: 600;
  margin-bottom: 10px;
}
.icon-input {
  position: relative;
}
.icon-input .icon {
  left: 10px;
  opacity: .6;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.order-icon {
  background-position: 77% 23%;
}
.icon-input input {
  padding-left: 40px!important;
}

.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
.trac__bottom {
  margin: 0 0 30px;
  font-size: .95em;
  letter-spacing: 1px;
  line-height: 1.5;
}
.right {
  justify-content: flex-end !important;
}
.track-container .img-wrap {
  max-width: 400px;
}




.order-wrapper {
  display: flex;
}

@media (max-width: 768px) {
  .order-wrapper {
    flex-direction: column;
  }

  .left-sidebar{
    display: flex !important;
    column-gap: 14px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .right-area{
    width: 100% !important;
  }
  .tract-order{
    margin-top: 50px !important;
  }

  .track-order-img{
    display: none !important;
  }

  .form-wrapper{
    text-align: center !important;
  }
  .track-form{
    margin: 0 auto !important;
  }

  .cart-item-list{
    margin-top: 15px !important;
  }
}

.tract-order{
  margin-top: 15px;
}

.order-wrapper .left-sidebar {
  font-size: 1.1em;
  min-width: 250px;
}
.order-wrapper .right-area {
  width: calc(100% - 250px);
}
li {
  font-size: 1em;
  line-height: 1.8;
  list-style: none;
}

.order-wrapper .left-sidebar li {
  display: block;
}
.order-wrapper .left-sidebar li a {
  padding: 5px 0;
}
.order-wrapper .left-sidebar .active {
  color: #ec2028;
  color: var(--primary-color);
  font-weight: 600;
}
.start {
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ck-button {
  margin: 0 10px 10px 0;
}

label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ck-button label input {
  position: absolute;
  top: -20px;
}
.ck-button label span {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  padding: 7.5px 20px;
}
.ck-button label span:hover {
  background: #ddd;
}
.ck-button input:checked+span {
  background-color: #eefaf4;
  color: #356842;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.order__card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}
.b-b {
  border-bottom: 1px solid #ddd;
}
.link-color {
  color: #17a2b8;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-transform: uppercase;
}
.color-lite {
  color: #555;
}

.f-9 {
  font-size: .9em;
}

.w-80x {
  width: 80px;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}

.w-100 {
  width: 100%;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.ptb-10 {
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.mr-15 {
  margin-right: 15px!important;
}

.mr-5 {
  margin-right: 5px!important;
}




.detail-menu {
  background: #f1f2f3;
  border-bottom: 1px solid #eee;
  font-size: .9em;
}

.list-heading {
  padding: 5px 0;
}

.sided {
  justify-content: space-between;
}
.custom-dropdown {
  display: inline-block;
  line-height: 0;
  position: relative;
}


.product-list {
  display: flex;
  position: relative;
  width: 100%;
}

.product-list .left-area {
  /* min-width: 250px; */
  width: fit-content;
}

.layer {
  background: rgba(0,0,0,.4);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.product-list .left-area .sticky {
  position: sticky;
  top: 30px;
  z-index: 1;
}

.product-list .left-area .sticky .close-btn-wrapper {
  border-bottom: 1px solid #ddd;
  color: #ec2028;
  color: var(--primary-color);
  display: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 7.5px 25px;
  text-align: right;
}
.product-list .left-area .sticky .sidebar {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-right: 15px;
}

.tree-node {
  cursor: pointer;
  display: block;
}
.tree-node .node-data {
  display: block;
  position: relative;
}

.tree-node .node-data a {
  display: block;
}
.category-wrapper .node-data a {
  padding: 5px 0;
}
.product-list .left-area .sticky .sidebar .sidebar-section {
  margin: 20px 0;
}
.product-list .left-area .sticky .sidebar .sidebar-section .title {
  font-weight: 600;
  margin-bottom: 15px;
}
button:disabled, button[disabled] {
  cursor: no-drop;
  opacity: .6;
}
.price-search {
  flex-wrap: wrap;
  gap: 7.5px;
  justify-content: flex-start;
}

.price-search .input-wrap {
  flex-grow: 1;
  margin-bottom: 5px;
  width: 70px;
}
.input-wrap .input-text {
  display: flex;
}

.price-search .input-wrap .input-text>span, .price-search .input-wrap input {
  padding: 0 7.5px;
}

.input-wrap .input-text>span {
  align-items: center;
  background: #f3f4f6;
  border: 1px solid #ddd;
  border-radius: 10px 0 0 10px!important;
  display: flex;
  font-size: .9em;
  padding: 0 10px;
}
.price-search .input-wrap .input-text>span, .price-search .input-wrap input {
  padding: 0 7.5px;
}
.input-wrap .input-text>input {
  border-left: none!important;
  border-radius: 0 10px 10px 0!important;
}


.input-wrap input, .input-wrap textarea {
  border: 1px solid #ddd;
  display: block;
  padding: 0 15px;
  width: 100%;
}
.price-search .outline-btn {
  margin-bottom: 5px;
}

.product-list .left-area .sticky .sidebar .sidebar-section .title {
  font-weight: 600;
  margin-bottom: 15px;
}
.product-list .left-area .sticky .sidebar .star-filter>button {
  display: block;
  height: auto;
  line-height: 1.4;
}

button:disabled, button[disabled] {
  cursor: no-drop;
  opacity: .6;
}
.product-list .left-area .sticky .sidebar .star-filter>button {
  display: block;
  height: auto;
  line-height: 1.4;
}
.product-list .left-area .sticky .sidebar .star-filter>button .rating-stars {
  font-size: 1.2em;
  line-height: 1!important;
}
.rating-stars {
  color: #ffa41c;
  font-size: 1.2em;
  position: relative;
}
.product-list .left-area .sticky .sidebar .star-filter>button .rating-stars span {
  line-height: 1;
}

.rating-stars .rating {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.link {
  font-weight: 300;
  font-size: 15px;
  color: #555;
  transition: all .50s ease;
}
.product-list .main-content {
  padding-left: 15px;
  flex-grow: 1;
}

.product-list .main-content>.pos-rel {
  min-height: 500px;
}
.tile-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.productcardnoborder__area {

}

/* .singleproduct__area{
  min-width: 20%;
  width: 20%;    
  margin-bottom: 15px;
  padding: 0 10px;
} */



.area {
  background: #fff;
  border-radius: 10px;
}
.mr-20 {
  margin-right: 20px!important;
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.ptb-10 {
  padding-bottom: 10px!important;
  padding-top: 10px!important;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.pb-10 {
  padding-bottom: 10px!important;
}

.pb-20 {
  padding-bottom: 20px!important;
}
.pt-10 {
  padding-top: 10px!important;
}
.align-start {
  align-items: flex-start;
}
.gaps-20 {
  gap: 20px;
}
.gap-15 {
  gap: 15px;
}
.cb-container {
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  padding-left: 25px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cb-container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

input[type=checkbox], input[type=radio] {
  height: auto;
  line-height: 1;
}

.checkmark {
  background-color: #eee;
  border-radius: 3px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}
.cb-container input:checked~.checkmark {
  background-color: #ec2028;
  background-color: var(--primary-color);
}

.cb-container input:checked~.checkmark:after {
  display: block;
}
.cb-container .checkmark:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  height: 10px;
  left: 7px;
  top: 4px;
  transform: rotate(45deg);
  width: 5px;
}
.cart .cart-product-tile .img-wrapper, .shipping .cart-product-tile .img-wrapper {
  padding-bottom: 70%;
}


.w-100x {
  width: 100px;
}
.cart .img-wrapper img, .shipping .img-wrapper img {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.color-reduced {
  color: #ff7878;
}
.strike-through {
  color: #666;
  font-size: .9em;
  line-height: 0;
  margin-right: 5px;
  padding: 0 2px;
  position: relative;
}

.strike-through.color-reduced {
  color: #ff7878;
  font-size: 1em;
}
.strike-through:after {
  background: #777;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.strike-through.color-reduced:after {
  background: #ff7878;
}
.bold {
  font-weight: 600;
}
.color-free, .color-offer {
  color: #27bd70;
}

.wrap {
  flex-wrap: wrap;
}
.gap-10 {
  gap: 10px;
}
.quantity-area {
  display: flex;
}
.quantity-area button {
  border: 1px solid #ddd !important;
  font-size: 1.3em;
}
.quantity-area .no-control, .quantity-area button {
  height: 38px;
  line-height: 37px;
  width: 38px;
}
.quantity-area button:first-child {
  border-radius: 10px 0 0 10px;
}
.quantity-area button:last-child {
  border-radius: 0 10px 10px 0;
}
.mtb-5 {
  margin-bottom: 5px!important;
  margin-top: 5px!important;
}


.outline-btn {
  background: linear-gradient(180deg,#f7f8fa,#e7e9ec);
  border: 1px solid #bbb !important;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  font-size: 1em;
  height: 44px;
  line-height: 42px;
}
.right-text {
  text-align: right;
}
.mn-w-90x {
  min-width: 90px;
}
.price {
  font-weight: 600;
}
.quantity-area .no-control, .quantity-area input {
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  border-top: 1px solid #ddd;
  font-size: 1.1em;
  position: relative;
  text-align: center;
  z-index: 1;
}

.area {
  background: #fff;
  border-radius: 10px;
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.pb-20 {
  padding-bottom: 20px!important;
}

.pt-10 {
  padding-top: 10px!important;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.pb-10 {
  padding-bottom: 10px!important;
}
.fw-400 {
  font-weight: 400;
}

.price {
  font-weight: 600;
}
.mb-20 {
  margin-bottom: 20px!important;
}
.pt-10 {
  padding-top: 10px!important;
}
.b-t {
  border-top: 1px solid #ddd;
}
.discounted-price {
  background: #eefaf4;
  color: #2dbf74;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.mt-20 {
  margin-top: 20px!important;
}

.danger-msg, .success-msg {
  border-radius: 10px;
  padding: 12.5px 15px;
}
.discounted-price .price {
  color: inherit;
  min-width: 100px;
  text-align: right;
}
.price {
  font-weight: 600;
}



.mr-20 {
  margin-right: 20px!important;
}
.pb-10 {
  padding-bottom: 10px!important;
}

.p-20 {
  padding: 20px!important;
}

.address-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}
.p-15 {
  padding: 15px!important;
}
label.card {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: all .1s;
}

label.card:before {
  border: 4px solid #aaa;
  border-radius: 25px;
  content: "";
  display: inline-block;
  height: 25px;
  min-width: 25px;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: -10px;
}
label.card.active:before {
  background: #ec2028;
  background: var(--primary-color);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFWiBIQB9ONycOZPcdEm-P7TJIJLPwKWZ0bw&s);
  background-position: 46.5% 22.5%;
  background-size: cover;
  border: none;
  opacity: 1;
}
label.card.active {
  background: #eefaf4;
  border-color: #ec2028;
  border-color: var(--primary-color);
}

.card>input[type=radio] {
  display: none;
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
input:not([type=checkbox]), textarea {
  border: 1px solid #ddd;
}
.mts-5{
  margin-top: 20px !important;
}
.address-btn {
  background: #f2f3f5 !important;
  flex-direction: column;
  font-size: .9rem;
  height: auto;
  line-height: 1.7;
  padding: 25px 30px;
  width: 160px;
}
.address-btn:hover {
  background: #e8f0fe !important;
}
.address-btn, .address-btn .icon-wrap {
  align-items: center;
  border: 1px solid #ddd !important;
  display: flex;
  justify-content: center;
}

.address-btn .icon-wrap {
  background: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
button>.icon, span>.icon {
  height: 20px;
  margin: 2px 5px;
  min-width: 20px;
  opacity: .6;
  width: 20px;
}
.plus-icon {
  background-position: 98.6% 1.8%;
}
.address-btn .icon-wrap .icon {
  height: 25px;
  width: 25px;
}

.shipping .cart-product-tile:last-child {
  border: none;
}
.rd-container {
  cursor: pointer;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mr-15 {
  margin-right: 15px!important;
}

.color-lite {
  color: #555;
}
.rd-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

input[type=checkbox], input[type=radio] {
  height: auto;
  line-height: 1;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
input:not([type=checkbox]), textarea {
  border: 1px solid #ddd;
}
.rd-checkmark {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 18px;
  left: 0;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 18px;
}
.rd-container input:checked~.rd-checkmark {
  border-color: #ec2028;
  border-color: var(--primary-color);
}
.rd-container .rd-checkmark:after {
  background: #ec2028;
  background: var(--primary-color);
  border-radius: 50%;
  height: 8px;
  left: 4px;
  top: 4px;
  width: 8px;
}
.rd-container input:checked~.rd-checkmark:after {
  display: block;
}

.rd-checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.heading-tab-wrapper .tab-heading label {
  align-items: center;
  background: #f4f5f5;
  border: 1px solid #eee;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  padding: 15px;
  text-align: center;
  width: 120px;
}
.checkout .tab-heading label {
  height: 140px;
  width: 140px;
}
.heading-tab-wrapper .tab-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.heading-tab-wrapper .tab-heading label input {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
.heading-tab-wrapper .tab-heading label .icon+span {
  padding: 5px 0 10px;
}
.checkout .tab-heading label .icon+span {
  font-weight: 700;
  margin-top: 5px;
  opacity: .8;
}
.heading-tab-wrapper .tab-content {
  padding-top: 15px;
}
.heading-tab-wrapper .tab-heading label:hover {
  background: #eee;
}
.heading-tab-wrapper .tab-heading label.active:active, .heading-tab-wrapper .tab-heading label.active:hover {
  background: #fff;
  border: 1px solid #ddd;
}
.heading-tab-wrapper .tab-heading label.active {
  background: #fff;
  border: 1px solid #ddd;
  cursor: auto;
}
.heading-tab-wrapper .tab-heading label:active {
  background: #f4f5f5;
  border-color: #ddd;
}

.btn-input {
  position: relative;
}
.btn-input input {
  width: 100%;
}
.pr-80 {
  padding-right: 80px!important;
}
.pl-15 {
  padding-left: 15px!important;
}
.btn-input button {
  border-radius: 0 10px 10px 0;
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.primary-btn {
  background: #ec2028;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  height: 44px;
  line-height: 44px;
  text-align: center;
  transition: all .2s;
}

input:not([type=checkbox]), textarea {
  border: 1px solid #ddd !important;
}


.mx-w-400x {
  max-width: 400px;
}
.order-wrapper .order-details>li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.order-wrapper table tr {
  background: none!important;
}


.lite-bold {
  color: #666;
  font-weight: 700;
  margin-right: 15px;
}
.order-wrapper table th {
  background: #f8f7f6;
  border: none;
  font-size: .9em;
  font-weight: 400;
  padding: 15px;
  text-align: left;
}
.order-wrapper table td {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.order-wrapper table td .img-wrap {
  height: 60px;
  width: 60px;
}
.order-wrapper table td .img-wrap img {
  border-radius: 10px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.mx-w-400x {
  max-width: 400px;
}
.order-wrapper .order-price li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.order-wrapper .order-details>li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.order-wrapper .order-details>li>span:first-child {
  font-weight: 600;
  width: 160px;
}
.order-wrapper .order-price li span:first-child {
  text-align: right;
  width: 100px;
}
.order-wrapper .order-details>li>span:last-child {
  width: 150px;
}
.order-wrapper .order-price li span:last-child {
  text-align: right;
  width: 80px;
}
.order-wrapper .order-details>li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.order-wrapper .order-price li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.order-wrapper .order-price li:last-child {
  border-bottom: none;
}
.j-end {
  justify-content: flex-end!important;
}






.sticky-cart {
  justify-content: space-between;
  padding: 10px 0;
}
.sticky-cart, .sticky-cart .sticky-title {
  align-items: center;
  display: flex;
  gap: 15px;
}


.sticky-cart .sticky-title {
  max-width: 500px;
}


.sticky-cart .sticky-title img {
  border: 1px solid #eee;
  border-radius: 8px;
  height: 60px;
  width: 60px;
}
.btn-wrap {
  align-items: center;
  display: flex;
  gap: 10px;
}
.btn-wrap .btn {
  padding: 0 30px;
}












.whatsapp-btn-wrap {
  align-items: center;
  background: #fff;
  border-radius: 100px;
  bottom: 30px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 30px;
  width: 50px;
  z-index: 11;
}


.whatsapp-icon {
  background-position: 87.6% 44.8%;
}
.icon {
  background-size: 1400% 1400%;
  height: 24px;
  min-width: 24px;
  width: 24px;
}
.whatsapp-btn-wrap .whatsapp-icon {
  height: 30px;
  width: 30px;
  color: #2dbf74;
}
.mlr--15 {
  margin-left: -15px!important;
  margin-right: -15px!important;
}

.detail-menu a {
  line-height: 40px;
  padding: 0 15px;
  font-size: 12px;
}

.pr-30 {
  padding-right: 30px!important;
}
.product-detail .product-main {
  display: flex;

  gap: 15px;
  position: relative;
}
.product-detail .product-main .detail-image-wrapper {
  max-width: 400px;
  min-width: 400px;
}
.product-detail .product-main .detail-image-wrapper .detail-image-inner {
  position: sticky;
  top: 20px;
  z-index: 1;
}
.detail-image {
  position: relative;
  width: auto;
}
.mx-h-100 {
  max-height: 100%;
}
.detail-image .pleceholder-zoomer-base-container>img, .detail-image .zoomer-base-container>img {
  height: auto;
  max-height: 420px;
  max-width: 100%;
  min-height: 400px;
  width: auto;
}

.pl-30 {
  padding-left: 30px!important;
}
.f-16 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: #555;
}
.mt-10 {
  margin-top: 10px!important;
}

.ml-5 {
  margin-left: 5px!important;
}
.semi-bold {
  font-weight: 600;
}

.color-lite {
  color: #555;
}
.two-sided {
  align-items: center;
  display: flex;
  gap: 10px;
}
.align-start {
  align-items: flex-start !important;
}
.mtb-15 {
  margin-bottom: 15px!important;
  margin-top: 15px!important;
}
.devider {
  background: #ddd;
  height: 1px;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.color-success {
  color: #356842;
}
h4 {
  font-size: 1.25em;
}


h6 {
  font-size: .95em;
  letter-spacing: 1px;
}
h5, h6 {
  line-height: 1.5;
}
.mb-5 {
  margin-bottom: 5px!important;
}
.mt_5 {
  margin-top: 5px!important;
}
.two-sided {
  align-items: center;
  display: flex;
  gap: 10px;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.two-sided .left {
  color: #888;
  min-width: 120px;
  width: 120px;
}
.start {
  justify-content: flex-start !important;
}
.rd-container {
  cursor: pointer;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rd-attr {
  margin: 0;
  padding: 0;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
.rd-container input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
input[type=checkbox], input[type=radio] {
  height: auto;
  line-height: 1;
}

input:not([type=checkbox]), textarea {
  border: 1px solid #ddd;
}
.rd-checkmark {
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 18px;
  left: 0;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 18px;
}
.rd-attr .rd-checkmark {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
}
.rd-attr .input-content {
  padding: 6px 20px;
}

.mt-30 {
  margin-top: 30px!important;
}

.product-detail .detail-right .sticky-right {
  position: sticky;
  top: 125px;
  z-index: 0;
}
.product-detail .detail-right .sticky-right .content {
  padding: 0;
}.price-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  white-space: break-spaces;
}

.p-tile .discount, .price-wrapper {
  word-break: break-all;
}
.price {
  font-weight: 600;
}
.color-deep {
  color: #2d4679;
}

.product-detail .detail-right .sticky-right .price-wrapper .strike-through {
  font-size: .7em;
}
.lh-30 {
  line-height: 30px;
}
.z-7 {
  z-index: 7;
}
.mr-10 {
  margin-right: 10px!important;
}

.facebook-icon {
  color: #0f6a99;
}
.mlr-5 {
  margin-left: 5px!important;
  margin-right: 5px!important;
}

.twitter-icon {

}
.pinterest-icon {
  color: #a71313;
}
.mt-15 {
  margin-top: 15px!important;
}
.mb-15 {
  margin-top: 15px!important;
}

.store-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px 15px;
}
.store-info .btn-wrap {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.store-info .store-name {
  font-weight: 600;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.store-info .store-date {
  font-size: .85rem;
  letter-spacing: 0;
  opacity: .9;
}
.store-info .store-date b {
  margin-top: 5px;
}
b {
  line-height: 1;
}
.visit-btn {
  align-items: center;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  font-size: .9rem;
  height: 36px;
  line-height: 1.4;
  margin: 0;
  min-width: 100px;
  padding: 0 10px;
  white-space: nowrap;
}

.detail-image .thumb-list {
  align-items: center;
  justify-content: center;
  margin: 5px 0 10px;
}

.detail-image .pleceholder-thumb-list, .detail-image .thumb-list {
  width: auto!important;
  grid-row-gap: 0!important;
  display: flex!important;
  height: auto!important;
  justify-content: center;
}
.detail-image .pleceholder-thumb-list .choosed-thumb, .detail-image .thumb-list .choosed-thumb {
  box-shadow: 0 0 2px 1px #ec2028!important;
  box-shadow: 0 0 2px 1px var(--primary-color)!important;
}
.detail-image .pleceholder-thumb-list .responsive-image, .detail-image .thumb-list .responsive-image {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 60px!important;
  margin: 5px;
  width: 60px!important;
}


/* feature section */
/* feature section */
/* feature section */
/* feature section */



.brands-wrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 15px;
  height: 400px;
}

@media (max-width: 1200px) {
  .brands-wrapper {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    height: fit-content;
    row-gap: 15px;
  }
}


.brands-wrapper .brand-banner {
  width: 100%;
  height: 100%;
}

.brands-wrapper .brand-banner img{
  /* max-height: 400px; */
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.area {
  background: #fff;
  border-radius: 10px;
}

.featured-brands{
  width: 100%;
  overflow: hidden;
}

/* .brands-wrapper .featured-brands.area {
  margin: 0;
} */
.area .title {
  border-bottom: 1px solid #eee;
  font-weight: 600;
  padding: 10px 15px;
}
.brands-wrapper .featured-brands.area .title {
  border-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
.area .area-content {
  padding: 10px 13px 0px;
}
.brands-wrapper .featured-brands.area .area-content {
  padding-top: 0;
}
.area-content .slick-slide {
  width: 114.33px !important;
  margin-left: 5.5px;
  margin-right: 5.5px;
}

a.single__features {
  background: #e5e4e2;
  border-radius: 10px;
  margin: 0px 0 15px;
  padding: 10px;
}
a.single__features:hover {
  background: #e5e4e2;
  border-radius: 10px;
  margin: 0px 0 15px;
  padding: 10px;
}
.img-wrapper {
  padding-bottom: 100%;
  position: relative;
}

a.single__features .img-wrapper img {
  border: 1px solid #eee;
  border-radius: 100px;
}
.img-wrapper .shimmer, .img-wrapper img {
  height: auto;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}


.item-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  color: #555;
}


h5, h6 {
  line-height: 1.5;
}

h5 {
  font-size: 1.1em;
  font-weight: 400;
} 

/* .banner-wrapper {
  position: relative;
} */

/* .brands-wrapper .brand-banner .banner-wrapper {
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
} */

/* .brands-wrapper .brand-banner img {
  border-radius: 10px;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
} */

.flow-hidden {
  overflow: hidden;
}
button>.icon.arrow-down, button>.icon.arrow-left, button>.icon.arrow-right, button>.icon.arrow-up, span>.icon.arrow-down, span>.icon.arrow-left, span>.icon.arrow-right, span>.icon.arrow-up {
  height: 16px;
  min-width: 16px;
  width: 16px;
}

.arrow-down.black, .arrow-up.black {
  background-position: 23% 1.5%;
}

/* responsive css */
@media( max-width: 768px ){
  header .container__fluid.flex {
    display: block;
}
header .left-area {
  min-height: 30px;
}
header .left-area, header .right-area {
  width: auto;
}
.mx-h-30x-xs {
  max-height: 30px;
}
header button, header input {
  height: 40px!important;
}
header .container__fluid.flex .right-area {
  position: absolute;
  right: 15px;
  top: -10px;
}
.xs__display {
  display: flex !important;
  align-items: center !important;
}

header .container__fluid.flex .right-area img {
  height: 30px;
  width: 30px;
}

header .left-area, header .right-area {
  width: auto;
}
header form {
  margin: 5px 0 0;
}

.hide-xs {
  display: none;
}
.block-xs {
  display: block !important;
}

.logo img {
    width: 70px;
    object-fit: cover;
}.sided {
  overflow-x: scroll;
}
}
@media( max-width: 992px ){
 
}


.feature-slick .slick-next{
  display: none !important;
}

.feature-slick .slick-prev{
  display: none !important;
}

.arrow-buttons-feature{
  display: flex;
  column-gap: 15px;
}

.arrow-buttons-feature span{
  width: 30px;
  aspect-ratio: 1;
  background-color: rgb(194, 194, 194);
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}



.topselling__product2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media (max-width: 920px) {
  .topselling__product2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 650px) {
  .topselling__product2 {
    grid-template-columns: 1fr 1fr;
  }
}


.margin-y-nav {
  margin: 0 25px;
}

@media (max-width: 768px) {
  .margin-y-nav {
    margin: 0;
  }
  .category-tile-wrapper2{
    margin-top: 30px;
  }

  .list-heading{
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
    padding: 0 !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .list-heading::-webkit-scrollbar {
    display: none;
  }
}


.category-tile-wrapper2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 25px;
}

.category-tile-wrapper2 > a{
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 920px) {
  .category-tile-wrapper2 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 650px) {
  .category-tile-wrapper2 {
    grid-template-columns: 1fr 1fr;
  }
}




.product-detail{
  display: grid;
  grid-template-columns: 1fr 35%;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .product-detail{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

@media (max-width: 1200px) {
  .detail-left > div {
    flex-direction: column;
  }
  .detail-left > div .product-main{
    margin: 15px auto;
  }
  .detail-left > div .pl-30{
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .detail-right{
    width: 80%;
    margin: 20px auto;
  }
}



.product-list-page{
  display: grid;
  grid-template-columns: 220px 1fr;
}

.product-list-page .left-area{
  display: flex;
}
/* main-content */
