
  
  @font-face {
    font-family: 'Arial';
    font-weight: 200;
    src: url(./fonts/ARIALLGT.woff) format('woff');
  }
  @font-face {
    font-family: 'Arial';
    font-weight: 300 ;
    src: url(./fonts/ARIALN.woff) format('woff');
    }
  @font-face {
    font-family: 'Arial';
    font-weight: 400;
    src: url(./fonts/ARIAL.woff) format('woff');
    } 
  @font-face {
    font-family: 'Arial';
    font-weight: 500;
    src: url(./fonts/ArialMdm.woff) format('woff');
  }
  @font-face {
    font-family: 'Arial';
    font-weight: 600;
    src: url(./fonts/ARIALNB.woff) format('woff');
    }  
  @font-face {
    font-family: 'Arial';
    font-weight: 700;
    src: url(./fonts/ARIALBD.woff) format('woff');
  }
  @font-face {
    font-family: 'Arial';
    font-weight: 900;
    src: url(./fonts/ARIBLK.woff) format('woff');
    }
    

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

body{
    font-family: "Arial", sans-serif;
    line-height: 1.4;
    font-size: 14px;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a, a:active, a:focus, a:hover, button, button:active, button:focus, button:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}
a, button {
  color: inherit;
  display: inline-block;
  transition: all .1s ease-in-out;
}

i, li, span {
  display: inline-block;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.container__fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.gap-20{
  margin: 20px 0;
}
.containers {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.mtb-5 {
  margin-bottom: 5px!important;
  margin-top: 5px!important;
}
.block {
  display: block;
}
button, h1, h2, h3, h4, h5, h6, input, li, p, span, ul {
  box-sizing: border-box;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  white-space: inherit;
}
span{
  display: inline-block;
}
.wrap {
  flex-wrap: wrap;
}

.mb-5 {
  margin-bottom: 5px!important;
}
.pos-rel {
  position: relative;
}
.start {
  justify-content: flex-start;
}
.strike-through {
  color: #aca3a3;
  font-size: 14px;
  line-height: 0;
  margin-right: 5px;
  padding: 0 2px;
  position: relative;
}

.f-12 {
  font-size: 1.2em!important;
}
.lazy-img {
  opacity: 0;
  transition: none;
}
.ml-10 {
  margin-left: 10px!important;
}
.border {
  border-radius: 10px;
  box-shadow: 0 0 1px 2px var(--primary-color);
  display: block;
}
.info-msg, .warning-msg {
  border-radius: 10px;
  padding: 12.5px 15px;
}
.info-msg {
  background: #cce5ff;
  color: #35628e;
}.mtb-20 {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
}

.mainBg_white{
  background: #fff;
}
.mainBg_gray{
  background: #e5e4e2;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.mt-20 {
  margin-top: 20px!important;
}
p {
  color: #121;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8;
}
.gap__5 {
  gap: 5px;
}

h4 {
  font-size: 1.25em;
}

h3, h4 {
  line-height: 1.4;
}

 button, h1, h2, h3, h4, h5, h6, ul {
  color: #333;
  font-family: "Arial",sans-serif;
  font-weight: inherit;
}
.mb-10 {
  margin-bottom: 10px!important;
}
.clear-btn {
  height: auto;
  line-height: 1;
}

.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.outline-btn {
  background: linear-gradient(180deg,#f7f8fa,#e7e9ec);
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  font-size: 1em;
  height: 44px;
  line-height: 42px;
}
.mtb-5 {
  margin-bottom: 5px!important;
  margin-top: 5px!important;
}
.hide {
  display: none;
}


.ml-10 {
  margin-left: 10px!important;
}

.mb-10 {
  margin-bottom: 10px!important;
}

.mtb-20 {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
}
button, input:not([type=checkbox]), textarea {
  border: none;
  border-radius: 10px;
  height: 44px;
  line-height: 42px;
  outline: 0;
}
.pt-20 {
  padding-top: 20px!important;
}
.mb-30 {
  margin-bottom: 30px!important;
}
.f-reverse {
  flex-direction: row-reverse;
}

li {
  font-size: 1em;
  line-height: 1.8;
  list-style: none;
}
.order-wrapper .order-details>li>span:first-child {
  font-weight: 600;
  width: 160px;
}
.order-wrapper .order-details>li>span:last-child {
  width: 150px;
}
.mr-15 {
  margin-right: 15px!important;
}
.lh-2, .lh-2 span {
  line-height: 2;
}
.mb-15 {
  margin-bottom: 15px!important;
}
.order-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.order-status .status-item {
  margin: 0 15px;
  text-align: center;
}
.order-status .status-item span.flex {
  background: #eee;
  border-radius: 100px;
  height: 80px;
  position: relative;
  width: 80px;
}
.order-status .active span.flex {
  background: #35628e;
  background: #cce5ff;
}
.order-status .active .status-str {
  color: #35628e;
}
.mtb-10 {
  margin-bottom: 10px!important;
  margin-top: 10px!important;
}
.f-9 {
  font-size: .9em;
}
.order-status .status-item {
  margin: 0 15px;
  text-align: center;
}



.order-status .status-item span.flex {
  background: #eee;
  border-radius: 100px;
  height: 80px;
  position: relative;
  width: 80px;
}
.order-status .active span.flex {
  background: #35628e;
  background: #cce5ff;
}

.order-status .active .status-str {
  color: #35628e;
}
.mtb-10 {
  margin-bottom: 10px!important;
  margin-top: 10px!important;
}

.f-9 {
  font-size: .9em;
}
.order-status .status-item span.flex:after, .order-status .status-item span.flex:before {
  background: inherit;
  content: "";
  height: 4px;
  left: -15px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 15px;
}

 .order-status .status-item:first-child span.flex:before,.order-status .status-item:last-child span.flex:after {
  background: transparent;
}
.order-status .status-item span.flex:after {
  left: auto !important;
  right: -15px !important;
}
.flow-auto {
  overflow: auto;
}
.mtb-15 {
  margin-bottom: 15px!important;
  margin-top: 15px!important;
}
.order-wrapper table {
  margin: 15px 0;
}
.mtb-0 {
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.w-100 {
  width: 100%;
}

.mn-w-600x {
  min-width: 600px;
}
.no-bg {
  background: transparent;
}
.mt__5{
  margin-top: 10px !important;
}
button {
  background: none;
  cursor: pointer;
  margin-bottom: 0;
  width: auto;
}





.hero__section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image__radius {
  border-radius: 10px;
}

.parent {
  display: grid;
  grid-template-columns: 3.2fr 1fr;
  grid-template-rows: 242.5px 242.5px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

}
.carousel-item {
 height: 500px;
}
.div1 { 
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100%;
}

.div2 { 
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: calc(500px / 2 - 10px);
}
.div3 { 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: calc(500px / 2 - 10px);
}
.div1 img, .div2 img ,.div3 img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner-image {
  display: grid;
  min-width: 925px; 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
